<% if logged_in? %>
  <h3><%= t ".book_feed" %></h3>
  <%= render "shared/feed" %>
<% else %>
  <div class="mainheading center">
    <h1 class="sitetitle"><%= t ".site_title" %></h1>
    <p class="lead"><%= t ".lead" %></p>
    <%= link_to t(".sign_up_now"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
