<% if logged_in? %>
  <section class="featured-posts">
  <div class="section-title">
    <h2><span><%= t ".featured" %></span></h2>
  </div>
  <div class="card-columns listfeaturedtag">

    <!-- begin post -->
    <div class="card">
      <div class="row">
        <div class="col-md-5 wrapthumbnail">
          <a href="#">
            <div class="thumbnail" style="background-image:url(assets/demopic/1.jpg);">
            </div>
          </a>
        </div>
        <div class="col-md-7">
          <div class="card-block">
            <h2 class="card-title">
              <a href="#"><%= t ".dummy_title" %></a>
            </h2>
            <h4 class="card-text"><%= t ".dummy_content" %></h4>
            <div class="metafooter">
              <div class="wrapfooter">
                <span class="meta-footer-thumb">
                  <a href="#">
                    <img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal">
                  </a>
                </span>
                <span class="author-meta">
                  <span class="post-name">
                    <a href="#"><%= t ".dummy_user" %></a>
                  </span>
                  <br/>
                  <span class="post-date"><%= t ".dummy_created_at" %></span>
                  <span class="dot"></span>
                  <span class="post-read"><%= t ".dummy_reading_time" %></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card">
      <div class="row">
        <div class="col-md-5 wrapthumbnail">
          <a href="#">
            <div class="thumbnail" style="background-image:url(assets/demopic/2.jpg);">
            </div>
          </a>
        </div>
        <div class="col-md-7">
          <div class="card-block">
            <h2 class="card-title">
              <a href="#"><%= t ".dummy_title" %></a>
            </h2>
            <h4 class="card-text"><%= t ".dummy_content" %></h4>
            <div class="metafooter">
              <div class="wrapfooter">
                <span class="meta-footer-thumb">
                  <a href="#">
                    <img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal">
                  </a>
                </span>
                <span class="author-meta">
                  <span class="post-name">
                    <a href="#"><%= t ".dummy_user" %></a>
                  </span>
                  <br/>
                  <span class="post-date"><%= t ".dummy_created_at" %></span>
                  <span class="dot"></span>
                  <span class="post-read"><%= t ".dummy_reading_time" %></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end post -->

    <!-- begin post -->
    <div class="card">
      <div class="row">
        <div class="col-md-5 wrapthumbnail">
          <a href="#">
            <div class="thumbnail" style="background-image:url(assets/demopic/3.jpg);">
            </div>
          </a>
        </div>
        <div class="col-md-7">
          <div class="card-block">
            <h2 class="card-title">
              <a href="#"><%= t ".dummy_title" %></a>
            </h2>
            <h4 class="card-text"><%= t ".dummy_content" %></h4>
            <div class="metafooter">
              <div class="wrapfooter">
                <span class="meta-footer-thumb">
                  <a href="#">
                    <img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal">
                  </a>
                </span>
                <span class="author-meta">
                  <span class="post-name">
                    <a href="#"><%= t ".dummy_user" %></a>
                  </span>
                  <br/>
                  <span class="post-date"><%= t ".dummy_created_at" %></span>
                  <span class="dot"></span>
                  <span class="post-read"><%= t ".dummy_reading_time" %></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end post -->

    <!-- begin post -->
    <div class="card">
      <div class="row">
        <div class="col-md-5 wrapthumbnail">
          <a href="#">
            <div class="thumbnail" style="background-image:url(assets/demopic/4.jpg);">
            </div>
          </a>
        </div>
        <div class="col-md-7">
          <div class="card-block">
            <h2 class="card-title">
              <a href="#"><%= t ".dummy_title" %></a>
            </h2>
            <h4 class="card-text"><%= t ".dummy_content" %></h4>
            <div class="metafooter">
              <div class="wrapfooter">
                <span class="meta-footer-thumb">
                  <a href="#">
                    <img class="author-thumb" src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x" alt="Sal">
                  </a>
                </span>
                <span class="author-meta">
                  <span class="post-name">
                    <a href="#"><%= t ".dummy_user" %></a>
                  </span>
                  <br/>
                  <span class="post-date"><%= t ".dummy_created_at" %></span>
                  <span class="dot"></span>
                  <span class="post-read"><%= t ".dummy_reading_time" %></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end post -->

  </div>
  </section>
<% else %>
  <div class="mainheading center">
    <h1 class="sitetitle"><%= t ".site_title" %></h1>
    <p class="lead"><%= t ".lead" %></p>
    <%= link_to t(".sign_up_now"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
