<% provide :title, @user.name %>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-md-offset-2">
      <div class="mainheading">
        <div class="row post-top-meta authorpage">
          <div class="col-md-10 col-xs-12">
            <h1><%= @user.name %></h1>
            <section class="stats">
              <%= render "shared/stats" %>
            </section>
            <span class="author-description">
              <%= t ".dummy_description" %>
            </span>
            <%= link_to("#", target: "_blank", class: "btn follow") do %>
              <i class="fa fa-facebook"></i>
            <% end %>
            <span class="dot"></span>
            <%= link_to("#", target: "_blank", class: "btn follow") do %>
              <i class="fa fa-google-plus"></i>
            <% end %>
            <span class="dot"></span>
            <%= render "follow_form" if logged_in? %>
            <span class="dot"></span>
          </div>
          <div class="col-md-2 col-xs-12">
            <%= link_to gravatar_for(@user, size: 50, alt: @user.name), @user %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="featured-posts">
<div class="section-title">
  <h2>
    <span>
      <%= @user.books.count < 2 ? t(".book") : t(".books") %>
      (<%= @user.books.count %>)
    </span>
  </h2>
</div>
<% if @user.books.any? %>
  <div class="card-columns listfeaturedtag">
    <%= render @books %>
  </div>
  <%= will_paginate @books,
    renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer,
    class: "justify-content-center" %>
<% end %>
</section>
