<li id="book-<%= book.id %>">
  <%= link_to gravatar_for(book.user, size: 50), book.user %>
  <span class="user"><%= link_to book.user.name, book.user %></span>
  <span class="title"><%= link_to book.name, book_path(book)%></span>
  <span class="pic">
    <%= image_tag book.picture.url if book.picture? %>
  </span>
  <span class="content">
    <%= sanitize book.description %>
  </span>
  <span class="timestamp">
    <%= t ".posted_ago", time_ago: time_ago_in_words(book.created_at) %>
    <% if current_user?(book.user) %>
      <%= link_to "edit", edit_book_path(book) %> |
      <%= link_to "delete", book, method: :delete,
        data: { confirm: t(".destroy_confirm") } %>
    <% end %>
  </span>
</li>
