<%= form_for @category do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.label :name, placeholder: t(".name") %>
    <%= f.text_field :name, id: :user_name %>
  </div>
  <%= f.submit t(".save"), class: "btn btn-primary" %>
<% end %>
