<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation">
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="container">
  <!-- Begin Logo -->
  <%= link_to image_tag("logo.png", alt: "Logo"), root_path, class: "navbar-brand" %>
  <!-- End Logo -->
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <!-- Begin Menu -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><%= link_to t(".home"), root_path, class: "nav-link" %></li>
      <% if logged_in? %>
        <li class="nav-item"><%= link_to t(".users"), users_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to t(".categories"), categories_path, class: "nav-link" %></li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <%= t ".account" %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><%= link_to t(".profile"), current_user, class: "nav-link" %></li>
            <li class="dropdown-item"><%= link_to t(".settings"), edit_user_path(current_user), class: "nav-link" %></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item">
              <%= link_to t(".logout"), logout_path, method: :delete, class: "nav-link" %>
            </li>
          </ul>
        </li>
      <% else %>
        <li class="nav-item"><%= link_to t(".login"), login_path, class: "nav-link" %></li>
      <% end %>
      <li class="dropdown nav-item">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
          <%= t ".language" %> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-item"><%= link_to t(".english"), {locale:"en"}, {class: "nav-link"} %></li>
          <li class="dropdown-item"><%= link_to t(".vietnamese"), {locale:"vi"}, {class: "nav-link"} %></li>
        </ul>
      </li>
    </ul>
    <!-- End Menu -->
  </div>
</div>
</nav>
